.vscode
.DS_Store
*.sln
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles
.vs
cmake_install.cmake
Makefile
*.aux
*.log
*.out
*.synctex.gz
*.blend1
*.class
a.out
Debug
Release
.vs
bin
build
*~
*.swp
*.swo


